openapi: 3.0.3

info:
  title: shenjiying88 AI Model Config API (V9 Phase-87)
  description: |
    AI 模型配置 RESTful API (V9 需求 1 · V10 Day 3)
    
    **核心能力**:
    - 系统预设查询 (4 预设包跨租户共享)
    - 门店自主配置 (RLS 多租户隔离 + AES-256 加密)
    - 一键切换 (< 500ms V9 硬约束)
    - 历史版本 (90 天保留) + 一键回滚
    - 字段级 API key 隔离 (admin only 解密)
    
    **认证**: OAuth 2.0 client_credentials + HMAC-SHA256 签名 + Idempotency-Key
    
    **限流**: 100 QPS / client (可配置)
    
    **错误码**: 见 /docs/error-codes.md
  version: 9.1.0
  contact:
    name: shenjiying88 API Team
    email: api@shenjiying88.com

servers:
  - url: https://api.shenjiying88.com/api/v9
    description: Production (V9)
  - url: https://sandbox.shenjiying88.com/api/v9
    description: Sandbox (V9 测试环境)
  - url: http://localhost:3000/api/v9
    description: Local development

tags:
  - name: ai-model-config
    description: AI 模型配置 (Phase-87)
  - name: presets
    description: 系统预设 (跨租户只读)
  - name: store-configs
    description: 门店自主配置 (RLS 隔离)
  - name: switch
    description: 一键切换 (热加载)
  - name: history
    description: 历史版本 (90 天保留)

security:
  - bearerAuth: []
  - hmacAuth: []

paths:
  # ================ 1. 系统预设 (跨租户) ================
  /ai-model-config/presets:
    get:
      tags: [ai-model-config, presets]
      summary: 查询系统预设列表
      description: 返回 4 个默认预设包 (GPT-4o / Claude 3.5 / Qwen-VL / Custom)
      operationId: listAiModelPresets
      parameters:
        - in: query
          name: provider
          schema:
            type: string
            enum: [openai, anthropic, qwen, custom]
          description: 按 provider 过滤
        - in: query
          name: industry
          schema:
            type: string
            enum: [general, arcade, family-entertainment, shopping-mall]
          description: 按行业过滤
        - in: query
          name: isActive
          schema:
            type: boolean
            default: true
          description: 是否仅返回启用的预设
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AiModelPreset'
                  total:
                    type: integer
                    example: 4
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /ai-model-config/presets/{id}:
    get:
      tags: [ai-model-config, presets]
      summary: 查询单个预设
      operationId: getAiModelPreset
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: 预设 ID 或 presetCode
          example: preset-gpt4o-general
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiModelPreset'
        '404': { $ref: '#/components/responses/NotFound' }

  # ================ 2. 门店配置 (RLS) ================
  /ai-model-config/store-configs:
    get:
      tags: [ai-model-config, store-configs]
      summary: 列出门店配置 (RLS 自动隔离)
      description: 仅返回当前租户+门店的配置 (其他租户不可见)
      operationId: listStoreConfigs
      parameters:
        - in: query
          name: storeId
          required: true
          schema:
            type: string
          description: 门店 ID (V10: 必填,自动校验 tenant ownership)
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AiModelStoreConfigResponse'
                  total:
                    type: integer
        '403': { $ref: '#/components/responses/Forbidden' }

    post:
      tags: [ai-model-config, store-configs]
      summary: 创建门店配置
      description: 创建门店自主配置,API key 自动 AES-256-GCM 加密
      operationId: createStoreConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAiModelStoreConfigRequest'
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiModelStoreConfigResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /ai-model-config/store-configs/current:
    get:
      tags: [ai-model-config, store-configs]
      summary: 获取当前生效配置
      operationId: getCurrentStoreConfig
      parameters:
        - in: query
          name: storeId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    nullable: true
                    $ref: '#/components/schemas/AiModelStoreConfigResponse'
        '404': { $ref: '#/components/responses/NotFound' }

  # ================ 3. 一键切换 ================
  /ai-model-config/switch:
    post:
      tags: [ai-model-config, switch]
      summary: 一键切换 AI 模型配置
      description: |
        切换到指定 configId,V9 硬约束: 切换延迟 < 500ms
        
        **流程**:
        1. 校验 target config 存在 (RLS 强制)
        2. 健康检查 endpoint 格式 (Day 2 格式校验 / Day 3 HTTP HEAD)
        3. 原子切换 (同 store 下仅一个 isCurrent=true)
        4. 写历史快照 (change_type=activate)
        5. 返回新当前配置 + 延迟
      operationId: switchAiModel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwitchAiModelRequest'
      responses:
        '200':
          description: 切换成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwitchAiModelResponse'
        '404':
          description: configId 不存在或 RLS 越权
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: 健康检查失败 (endpoint 不可达)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ================ 4. 历史版本 + 回滚 ================
  /ai-model-config/history/{configId}:
    get:
      tags: [ai-model-config, history]
      summary: 列出 config 历史版本
      description: 90 天保留,RLS 自动过滤当前租户
      operationId: listConfigHistory
      parameters:
        - in: path
          name: configId
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AiModelConfigHistory'
                  total:
                    type: integer

  /ai-model-config/rollback:
    post:
      tags: [ai-model-config, history]
      summary: 回滚到指定历史版本
      description: |
        应用历史快照,新写一条 change_type=rollback 历史
        
        **注意**: 当前生效配置将被覆盖 (V9 写入提示)
      operationId: rollbackConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RollbackAiModelRequest'
      responses:
        '200':
          description: 回滚成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiModelStoreConfigResponse'
        '404': { $ref: '#/components/responses/NotFound' }

# ================== Components ==================
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    hmacAuth:
      type: apiKey
      in: header
      name: X-HMAC-Signature

  schemas:
    # ============ 枚举 ============
    AiModelProvider:
      type: string
      enum: [openai, anthropic, qwen, custom]

    IndustryType:
      type: string
      enum: [general, arcade, family-entertainment, shopping-mall]

    ConfigChangeType:
      type: string
      enum: [create, update, rollback, activate]

    # ============ 实体 ============
    AiModelDefaultParams:
      type: object
      required: [temperature, maxTokens, contextWindow, topP]
      properties:
        temperature:
          type: number
          minimum: 0
          maximum: 2
          default: 0.7
          description: 温度系数, 越大越发散
        maxTokens:
          type: integer
          minimum: 1
          maximum: 32000
          default: 4096
        contextWindow:
          type: integer
          minimum: 1024
          maximum: 128000
          default: 8192
        topP:
          type: number
          minimum: 0
          maximum: 1
          default: 1.0
        frequencyPenalty:
          type: number
          minimum: -2
          maximum: 2
          default: 0
        presencePenalty:
          type: number
          minimum: -2
          maximum: 2
          default: 0
        customHeaders:
          type: object
          additionalProperties:
            type: string
          description: 自定义请求头

    AiModelPreset:
      type: object
      properties:
        id:
          type: string
          example: preset-gpt4o-general
        presetCode:
          type: string
          example: gpt4o-general
        displayName:
          type: string
          example: GPT-4o (通用)
        provider:
          $ref: '#/components/schemas/AiModelProvider'
        modelName:
          type: string
          example: gpt-4o
        defaultParams:
          $ref: '#/components/schemas/AiModelDefaultParams'
        industry:
          $ref: '#/components/schemas/IndustryType'
        isActive:
          type: boolean
        description:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    AiModelStoreConfigResponse:
      type: object
      description: 门店配置响应 (API key 已脱敏)
      properties:
        id:
          type: string
        tenantId:
          type: string
          description: 租户 ID (RLS 注入)
        storeId:
          type: string
        configName:
          type: string
        provider:
          $ref: '#/components/schemas/AiModelProvider'
        endpointUrl:
          type: string
          format: uri
          example: https://api.openai.com/v1
        apiKeyMasked:
          type: string
          example: sk-***-xxxx
          description: AES-256 加密后脱敏显示 (字段级隔离)
        contextWindow:
          type: integer
        temperature:
          type: number
        maxTokens:
          type: integer
        customHeaders:
          type: object
          additionalProperties:
            type: string
        isCurrent:
          type: boolean
        createdBy:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    AiModelConfigHistory:
      type: object
      properties:
        id:
          type: string
        configId:
          type: string
        snapshot:
          type: object
          description: 完整配置快照
        versionNumber:
          type: integer
        changeType:
          $ref: '#/components/schemas/ConfigChangeType'
        changedBy:
          type: string
        changedAt:
          type: string
          format: date-time
        reason:
          type: string
          nullable: true

    # ============ 请求 ============
    CreateAiModelStoreConfigRequest:
      type: object
      required: [storeId, configName, provider, endpointUrl, apiKey, contextWindow, temperature, maxTokens]
      properties:
        storeId:
          type: string
          description: 门店 ID (V10 Day 2: 必填, 自动校验 tenant ownership)
        configName:
          type: string
          minLength: 1
          maxLength: 100
        provider:
          $ref: '#/components/schemas/AiModelProvider'
        endpointUrl:
          type: string
          format: uri
        apiKey:
          type: string
          minLength: 8
          description: 明文 API key, 后端 AES-256-GCM 加密
        contextWindow:
          type: integer
          minimum: 1024
          maximum: 128000
        temperature:
          type: number
          minimum: 0
          maximum: 2
        maxTokens:
          type: integer
          minimum: 1
          maximum: 32000
        customHeaders:
          type: object
          additionalProperties:
            type: string

    SwitchAiModelRequest:
      type: object
      required: [configId]
      properties:
        configId:
          type: string
        reason:
          type: string
          description: 切换理由 (审计)

    SwitchAiModelResponse:
      type: object
      properties:
        config:
          $ref: '#/components/schemas/AiModelStoreConfigResponse'
        latencyMs:
          type: integer
          example: 320
          description: V9 硬约束 < 500ms
        healthCheckOk:
          type: boolean

    RollbackAiModelRequest:
      type: object
      required: [historyId]
      properties:
        historyId:
          type: string
        reason:
          type: string

    Error:
      type: object
      properties:
        statusCode:
          type: integer
        message:
          type: string
        error:
          type: string

  responses:
    BadRequest:
      description: 请求参数错误
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: 未认证
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: 越权访问 (RLS 拒绝)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: 资源不存在
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: 限流 (429)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'